.quick_leave_button {
    position: sticky;
    color: white;
    cursor: pointer;
    background-color: red;
    border: none;
    width: 240px;
    height: 120px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
}

.quick_leave_button_container {
    position: absolute;
    right: 20px;
}

.leave_text {
    width: 240px;
    padding-top: 7px;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;
    letter-spacing: .3rem;
}

.description_box {
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    width: 236px;
    height: 50px;
    align-items: center
}

.description_text {
    text-align: center;

}