.quick_leave_button {
    position: fixed;
    color: white;
    cursor: pointer;
    background-color: red;
    border: none;
    width: 240px;
    height: 120px;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
}

.quick_leave_button_container {
    position: absolute;
    right: 20px;
}

.leave_text {
    width: 240px;
    padding-top: 7px;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    letter-spacing: .3rem;
}

.description_box {
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    border: none;
    border-radius: 5px;
    width: calc(100%-16px);
    align-items: center;
    font-size: 1rem;
}

.description_text {
    text-align: center;

}

@media (max-width: 600px) {
    .quick_leave_button {
        height: 40px;
        width: 150px;
    }

    .leave_text {
        width: 150px;
        padding-top: 7px;
        cursor: pointer;
        font-size: 20px;
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 600;
        letter-spacing: .3rem;
    }
}